*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/2.PlantillaIngreso/img/IMAGEN\ FONDO.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center ;
    
}

input{
    color: aliceblue;
}

.form-recupe-contra{
    width: 400px;
    padding: 50px;
    background-color: #220130;
    border-radius: 50px;
    margin: auto;
    margin-top: 130px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #dfc4e0;
    box-shadow: 0px 0px 10px 10px #9f02e3;
}

.form-recupe-contra h4{
    font-size: 25px;
    margin-top: -30px;
    margin-bottom: 50px;
    text-align: center;
}

.contenedor{
    width: 300px;
    padding: 20px;
    margin-left: 0px;
    background-color: #010909;
    border-radius: 20px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 25px;
    border: 2px solid #9e0bdd;
    margin-top: 2px;
}

.form-recupe-contra p{
    font-size: 15px;
    margin-bottom: 5px;
    text-align: center;
}

.form-recupe-contra a{
    color: #edcaca;
    text-decoration: none;
}

.form-recupe-contra a:hover{
    color: #c604fc;
    text-decoration: underline;
}

.form-recupe-contra .confirmar{
    width: 150px;
    margin-bottom: 20px;
    padding: 10px;
    color: #edcaca;
    background-color: #630a77;
    border-radius: 15px;
    margin-left: 70px;
    border: none;
    margin-top: 0px;   
    font-size: 17px;
    margin-bottom: 40px;
}

.volver{
    margin-left: 208px;
    margin-bottom: -100px;
}

.ayuda{
    margin-left: -190px;
    margin-top: -25px;
    margin-bottom: -100px;
    
}